@font-face {
    font-family: 'baron_neueblack_italic';
    src: url('baron_neue_black_italic.eot');
    src: url('baron_neue_black_italic.eot?#iefix') format('embedded-opentype'),
         url('baron_neue_black_italic.woff') format('woff'),
         url('baron_neue_black_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'baron_neueblack';
    src: url('baron_neue_black.eot');
    src: url('baron_neue_black.eot?#iefix') format('embedded-opentype'),
         url('baron_neue_black.woff') format('woff'),
         url('baron_neue_black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'baron_neue_bold_italicBdIt';
    src: url('baron_neue_bold_italic.eot');
    src: url('baron_neue_bold_italic.eot?#iefix') format('embedded-opentype'),
         url('baron_neue_bold_italic.woff') format('woff'),
         url('baron_neue_bold_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'baron_neue_boldbold';
    src: url('baron_neue_bold.eot');
    src: url('baron_neue_bold.eot?#iefix') format('embedded-opentype'),
         url('baron_neue_bold.woff') format('woff'),
         url('baron_neue_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'baron_neue_italicitalic';
    src: url('baron_neue_italic.eot');
    src: url('baron_neue_italic.eot?#iefix') format('embedded-opentype'),
         url('baron_neue_italic.woff') format('woff'),
         url('baron_neue_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'baron_neueregular';
    src: url('baron_neue.eot');
    src: url('baron_neue.eot?#iefix') format('embedded-opentype'),
         url('baron_neue.woff') format('woff'),
         url('baron_neue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}