body{
    background: #ffffff url("../_img/img_bg.jpg") 0 0 repeat;
    width: 100%;
    font-family: "baron_neueregular", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}
.main-wrapper{
    position: relative;
    margin-top: 85px;
    /*outline: 2px solid red;*/
}
.logo{
    font-size: 36px;
    line-height: 37px;
    font-weight: 700;
    margin-bottom: 16px;
}
.logo span{
    font-weight: 400;
}
.contacts{
    font-family: Arial, sans-serif;
    color: #f71c1c;
    line-height: 22px;
}
.contacts .mail{
    font-family: Arial, sans-serif;
    color: #f71c1c;
    text-decoration: none;
    border-bottom: 1px dashed #000000;
}
.contacts .mail:hover{
    border-bottom: 1px dashed #f71c1c;
    color: #000000;
}
.btn_blog{
    display: block;
    padding: 6px 0;
    margin-top: 12px;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    border: 1px dashed #000000;
    vertical-align: top;
    text-align: center;
}
.btn_blog:hover{
    border-color: #f71c1c;
    color: #f71c1c;
}
.hello-text{
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    font-weight: 700;
}
.top-info{
    color: #f71c1c;
    margin-bottom: 40px;
}
.top-info-title{
    line-height: 22px;
    margin-bottom: 10px;
}
.info-item{
    display: inline-block;
    margin-right: 26px;
    font-size: 0;
}
.info-item:last-of-type{
    margin-right: 0;
}
.info-item:nth-of-type(2){
    margin-right: 26px;
}
.item-inline{
    display: inline-block;
}
.info-item .item-count{
    font-size: 48px;
    line-height: 22px;
    margin-right: 10px;
}
.item-count .percent{
    font-size: 24px;
}
.info-item .item-text{
    font-size: 14px;
    vertical-align: 4px;
}
.title{
    font-size: 24px;
    line-height: 22px;
    margin: 0 0 25px;
    text-transform: uppercase;
    color: #f71c1c;
}

.trends-slogan{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
.wrapper-cost{
    position: relative;
}
.trends{
    list-style: none;
    padding-left: 64px;
    margin-bottom: 50px;
}
.wrapper-label{
    position: relative;

}
.wrapper-cost .cost-text{
    position: absolute;
    color: #f71c1c;
    right: 60px;
    bottom:55px;
}
.cost-text .text-count{
    font-size: 36px;
}
.trend-item{
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}
.trend-item::before{
    content: '';
    position: absolute;
    width:50px;
    height: 50px;
    left: -64px;
    top: 7px;
}
.trend-item:not(:first-of-type){
    line-height: 50px;
    margin-top: 8px;
}

.trend-item .item-inner{
    font-size: 12px;
    line-height: 16px;
}

.satelite::before{
    background: url("../_img/satellite.gif") no-repeat;
}

.gamepad::before{
    top: -2px;
    background: url("../_img/gamepad.gif") no-repeat;
}
.coins::before{
    top:-2px;
    background: url("../_img/coins.gif") no-repeat;
}
.compass::before{
    top:-1px;
    background: url("../_img/compass.gif") no-repeat;
}
.cost{
    position: absolute;
    background: #ff0707;
    bottom: 15px;
    left: 300px;
    width: 123px;
    height: 123px;
    box-sizing: border-box;
    line-height: 107px;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    border: 1px dashed #ffffff;
    box-shadow: 3px 3px 0 0 #ff0707, -3px -3px 0 0 #ff0707, -3px 3px 0 0 #ff0707, 3px -3px 0 0 #ff0707;
}
.cost .cost-from{
    font-size:16px;
}
.cost .cost-count{
    font-size: 48px;
}
.btn-order{
    position: relative;
    left: 66px;
    border: 1px solid #fc2323;
    color: #fc2323;
    padding: 17px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    line-height: 26px;
}
.btn-order:hover{
    color: #ffffff;
    border: 1px solid #8c8585;
    background-color: #8c8585;
}
.main-footer{
    margin-top: 80px;
}
.main-footer .copyright{
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
}
.copyright .develop{
    display: inline;
}
.copyright .maxima{
    display: inline-block;
    width: 71px;
    height: 16px;
    background: url("../_img/maxima-logo.png") no-repeat;
    vertical-align: -4px;
}
.maxima img{
    visibility: hidden;
}
.maxima:hover{
    background: none;
}
.maxima:hover img{
    visibility: visible;
    border: 0;
}
/*.copyright .maxima:hover img{*/
    /*background-image: url("../_img/maxima.gif");*/
/*}*/
.book{
    position: absolute;
    width: 450px;
    height: 504px;
    bottom: 0px;
    left: -120px;
    background-image: url("../_img/book.png");
}
.phone{
    position: absolute;
    width: 270px;
    height: 330px;
    top: 30px;
    right: -98px;
    background-image: url("../_img/phone.png");
}
.cup{
    position: absolute;
    width: 261px;
    height: 263px;
    bottom: -20px;
    right: 10px;
    background-image: url("../_img/cup.png");
}
.pen{
    position: absolute;
    width: 217px;
    height: 237px;
    right: -80px;
    bottom: 100px;
    background-image: url("../_img/pen.png");
}



h1, h2, p, ul{
    margin: 0px;
    padding: 0;
}

@media screen and (max-width: 1601px) {
    .main-wrapper {
        margin-top: 20px;
    }
}
@media screen and (max-width: 1367px) {
    .phone{
        top: -10px;
        right: -80px;
    }
    .main-wrapper {
        margin-top: 15px;
    }
    body{
        overflow-x: hidden;
    }
}
/*@media screen and (max-width: 1280px){*/
    /*body{*/
        /*overflow: hidden;*/
    /*}*/
/*}*/